<html>
    <head>
        <title> generator </title>
    </head>
    <body>
        <h1> Random Generator (passcode #@ViewBag.run)</h1>

        <h2>@ViewBag.PassCode</h2>
        <button>Generate</button>
    </body>

</html>